* {
    margin: 0;
    padding: 0; 
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
}

h1 {
    display: flex;
    font-size: 20em;
    align-items: center;
    justify-content: center;
    text-align: center;  
    color: hsl(35, 41%, 92%);
}

h5 {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    color: hsl(30, 42%, 95%)
}

div {
    background-color: rgba(252, 248, 247, 0.247);
    border-radius: 5px;
    color: hsl(29, 81%, 13%);
    display: block;
    justify-content: center;
    }


#submit {
    background-color: hsl(29, 81%, 13%);
    color: ivory;   
}

#submit:hover {
    background-color:  hsl(29, 54%, 28%);
}


