* {
    margin: 0;
    padding: 0; 
}

body {
    background: linear-gradient(45deg, #c38fd8, #8edfe0);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
}

h1 {
    display: flex;
    font-size: 20em;
    align-items: center;
    justify-content: center;
    text-align: center;  
    color: hsl(345, 95%, 25%);
}

p {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    color: hsl(345, 53%, 37%)
}

div {
    background-color: rgba(231, 158, 207, 0.596);
    border-radius: 5px;
    color: hsl(345, 100%, 33%);
    display: block;
    justify-content: center;
    }


#submit {
    background-color: hsl(345, 100%, 33%);
    color: ivory;   
}

#submit:hover {
    background-color:  hsl(345, 100%, 40%);
}


